.signIn{
    text-decoration: none;
    color: #22dfba;
    cursor:pointer;
}
.signOut{
    text-decoration: none;
    color: #30a552;
    cursor:pointer;
}
.signIn.active{
    color: #22dfba;
    border-bottom: 1px solid #22dfba!important;
}

.signOut.active{
    color: #30a552;
    border-bottom: 1px solid #30a552!important;
}

.profil-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 80vh; */
    justify-content: center;
}

.profil-avatar{
    border-radius:50%;
    max-width:8em;
    max-height:8em;
    cursor:pointer;
}